pandas==2.0.3
requests
GitPython
git-lfs
streamlit==1.32.2
python-dotenv==0.8.2
langchain==0.2.1
langchain-community==0.2.1
sentence-transformers==2.7.0
websockets
llama-cpp-python
tqdm
chromadb==0.5.0